<div class="text-center">
  <img src="" class="rounded" alt="...">
  <h2>Say something...</h2>
</div>

<div class="jumbotron jumbotron-fluid col-1">
  <div class="container">
    <div class="row">
      <ul class="list-group">
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid col-7" id="message">
  <div class="container overflow-auto" id="message-container">
    <%= turbo_stream_from "messages" %>
    <%= turbo_frame_tag "messages" do %>
      <%= render @messages %>
    <% end %>
  </div>
  <hr style="height:2px; width:100%; border-width:0; color:red; background-color:black">
  <%= form_with(model: @message, html: { role: "form" }, local: false) do |f| %>
    <div class="input-group" id="in_form">
      <%= f.text_field :body, class: "form-control", placeholder: "Enter a message..." %>
      <%= f.submit "Send", class: "btn btn-outline-secondary" %>
    </div>
  <% end %>
</div>
