<div class="text-center">
  <h2>Welcome to MessageME - a complete Chat App</h2>
  <img src="" class="rounded" alt="...">
  <h2>Sign up to continue</h2>
</div>


<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form-1">
      <h3>Sign up</h3>
      <%= form_with(model: @user, html: { role: "form" }, local: true) do |f| %>
        <div class="form-group">
          <%= f.label :username, class: "col-2 col-form-label text-dark" %>
          <div class="col-10">
            <%= f.text_field :username, class: "form-control shadow-rounded", placeholder: "Enter your username" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :password, class: "col-2 col-form-label text-dark" %>
          <div class="col-10">
            <%= f.password_field :password, class: "form-control shadow-rounded", placeholder: "Enter your password" %>
          </div>
        </div>
        <div class="form-group mt-2">
          <%= f.submit "Sign up", class: "btnSubmit" %>
        </div>
        </div>
      <% end %>
      <div class="col-md-6 login-form-2">
        <h3>Already have an account?</h3>
        <form>
          <div class="form-group mt-5 text-center">
            <%= link_to 'Log in', login_path, type: "submit", class: "btnSubmit" %>
          </div>
        </form>
      </div>
      </div>
</div>